* {
  padding:0;
  margin:0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Geneva;
  color: white;
  height: 100;
  background-image: linear-gradient(to bottom, #000058 , #00003D);
  margin: auto;
  max-width: 93%;
}

header {
  height: 140px;
  background-color: #00003D;
  font-size: 30px;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 360px;
}

.name {
  text-align: right;
  margin-right: 10px;
  margin-top: 0px;
  text-indent: 20px;
  background-color: #00003D;
}

.welcomesvg {
  background: darkgray;
  width: 100%;
  position: relative;
  opacity: 1;
  display: inline-block;
  /* position: absolute; */

}

.welcometext {
  fill: white;
  font-size: 30px;
  /* text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 -1px black; */
  text-align: right;
  font-weight: bold;
}


.sunburstsvg {
  background: darkgray;
  position: absolute;
  width: 58%;
  height: 740px;
  overflow: hidden;
  font-size: 0;
  }

.datasvg {
  background: silver;
  border: 0px;
  margin-left: 34%;
  /* display: flex; */
  width: 37.6%;
  height: 650px;
  color: white;
  position: relative;
  float: right;
  display: inline-block;

}

.datatext {
  fill: #fff;
  font-size: 30px;
  text-anchor: middle;
  font-weight: bold
}

.foodname {
  fill: dimgray;
  position: absolute;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

/* .x .y {
  stroke-width: 3;
  font: 16px sans-serif;
} */

.betweenline {
  background: grey;
  width: 100%;
  height: 80px;
  display: flex;
}

.linechart {
  background: #000033;
  width: 93%;
  height: 810px;
  position: absolute;
}

.line {
  stroke-width: 2px;
  stroke: #009900;
}

.linechartTitle {
  font-size: 24px;
  fill: white;
}

.storysvg {
  background-image: linear-gradient(to bottom, #000058 , grey);
  position: static;
  width: 100%;
  height: 1800px;
}

.story {
  background: silver;
  padding-top: 150px;
  padding-bottom: 600px;
  padding-left: 100px;
  font-size: 20px;
  color: white;
  /* box-shadow: 2px 20px grey; */
}

.legendtext {
  fill: white;
  font-family: Geneva;
  font-size: 24px;
}

.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  /* color: #FFA500; */
  border-radius: 1px;
}

.secondSunburst {
  position: absolute;
}
